/* Tags utilizadas em todas as páginas */

	body
	{
		height: 100%;
		margin: 0;
		padding: 0;
		background: #333333;
		font-family: 'Varela', sans-serif;
		font-weight: 300;
		color: #656565;
	}

	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #2B3F48;
	}

	ul
	{
		padding: 0;
		list-style: none;
	}

	p
	{
		margin-top: 0;
		line-height: 180%;
	}

	a
	{
		text-decoration: none;
	}

	a:hover
	{
		text-decoration: none;
	}

	#cabecalho
	{
		position: left;
		padding: 3.8em 0em;
	}

	.container
	{
		overflow: hidden;
		margin: 0 auto;
		width: 80%;
		text-align: center;
	}

	#texto_cabecalho
	{
		position: absolute;
		margin-left: 6em;
		margin-top: 0.5em;
		top: 1em;
		left: 0;
		color: #FFF;
	}

	#texto_cabecalho a
	{
		font-size: 1em !important;
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
	}

	#entrada_pages
	{
		position: absolute;
		top: 3.7em;
		right: 0;
	}

	#entrada_pages ul
	{
		display: inline-block;
		justify-content: center;
		align-self: center;
	}

	#entrada_pages ul li
	{
		display: block;
		float: left;
		text-align: center;
	}

	#entrada_pages ul li a
	{
		padding: 0em 1em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #FFF;
		text-align: center;
		transition: all .3s;
		font-weight: bold;
	}

	.link_pages_main
	{
		transition: all .450ms;
	}

	.link_pages_main:hover
	{
		font-size: 1em;
		position: relative;
		top:-1.1em;
		right: 0;
		border: solid green;
		border-width: 2.2px 1px 1px 2.2px;
		padding-top: 1em;
		padding-bottom: 1.6em;
		color: #FFF;
		border-radius: 5px 5px 0 0;
		margin-right: 0.5em;
		background-color: #363636;
	}

	.current_page_item
	{
		position: relative;
		top:-1em;
		right: 0;
		padding-top: 1em;
		padding-bottom: 1.6em;
		background: green;
		color: #FFF;
		border-radius: 5px 5px 0 0;
		margin-right: 0.5em;
	}

	.last_page
	{
		margin-right: 0.4em;
	}

	.line_color
	{
		width: 100%;
		height: 0.2em;
		background-color: green;
	}

	#info_oms
	{
		overflow: hidden;
		padding: 7em 0em 5em 0em;
		background: #202020;
		background-size: cover;
		text-align: center;
		color: rgba(255,255,255,.8);
	}

	.titulo
	{
		margin-bottom: 3em;
		text-transform: uppercase !important;
		text-align: center;
	}

	.titulo h2
	{
		color: #FFF;
		text-transform: uppercase;
		font-size: 2.7em;
	}

	.subt_oms
	{
		color: rgba(255,255,255,.6);
		font-size: 1.7em;
		color: #6F6F6F;
	}

	.button
	{
		display: inline-block;
		padding: 0em 3em;
		letter-spacing: 0.20em;
		line-height: 4em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: #FFF;
		margin-top: 3em;
		background: #009E2D;
		text-align: center;
		border-radius: 5px;
		border-style: solid;
		border-color: green;
	}

	.button:hover
	{
		font-weight: bold;
		background-color: green;
	}

	.all_titles
	{
		color:whitesmoke;
		font-size:1.8em;
		font-family: 'Varela';
		margin-bottom: 2em;
		margin-top: 2em;
	}

	.text_source
	{
		color: whitesmoke;
		font-family:'Varela';
		font-size:1em;
	}

	.page_end
	{
		background-color: gray;
		text-align: center;
		border-radius: 20px 20px 0 0;
		padding: 2em;
		position: relative;
		bottom: 0;
		font-size: 1em;
	}

	.text_page_end
	{
		color: whitesmoke;
		text-decoration: none;
		font-size:1em;
	}

/* Fim - Tags utilizadas em todas as páginas */


/* Inicio de Tags utilizadas em todas as páginas configurada para telas com o tamanho de 1300px até 1138px */

@media(max-width:1300px) and (min-width:1138px){

	#cabecalho
	{
		padding: 2.5em 0em;
	}

	/* .container { Sem alterações nessa tag! } */

	#texto_cabecalho
	{
		margin-left: 3em;
	}

	#entrada_pages
	{
		position: absolute;
		top: 1em;
	}

	#entrada_pages ul li a
	{
		font-size: 0.7em;
	}

	/* .link_pages_main { Sem alterações nessa tag! } */

	.link_pages_main:hover
	{
		position: relative;
		top:-1em;
		border-width: 2.2px 1px 0px 2.2px;
	}

	/* .current_page_item { Sem alterações nessa tag! } */

	/* .last_page { Sem alterações nessa tag! } */

	/* .line_color { Sem alterações nessa tag! } */

	#info_oms
	{
		padding: 6em 0em 4em 0em;
	}

	/* .titulo { Sem alterações nessa tag! } */

	.titulo h2
	{
		font-size: 2.2em;
	}

	.subt_oms
	{
		font-size: 1.4em;
	}

	/* .button { Sem alterações nessa tag! } */
	
	.all_titles
    {
        font-size:1.6em;
    }

	/* .text_source { Sem alterações nessa tag! } */

	.page_end
	{
		padding: 1.4em;
	}

	/* .text_page_end { Sem alterações nessa tag! } */

}

/* Fim - Tags utilizadas em todas as páginas configurada para telas com o tamanho de 1300px até 1138px */


/* Inicio de Tags utilizadas em todas as páginas configurada para telas com o tamanho de 1137px até 941px */

@media(max-width:1137px) and (min-width:941px)
{

	#cabecalho
	{
		padding: 2.5em 0em;
	}

	.container
	{
		overflow: hidden;
		margin: 0 auto;
		width: 70%;
		text-align: center;
	}

	#texto_cabecalho
	{
		margin-left: 1.5em;
	}

	#texto_cabecalho a
	{
		font-size: 0.84em !important;
	}

	#entrada_pages
	{
		position: absolute;
		top: 1em;
	}

	#entrada_pages ul li a
	{
		font-size: 0.6em;
	}

	/* .link_pages_main { Sem alterações nessa tag! } */

	.link_pages_main:hover{
		position: relative;
		top:-1em;
		border-width: 2.2px 1px 0px 2.2px;
	}

	/* .current_page_item { Sem alterações nessa tag! } */

	/* .last_page { Sem alterações nessa tag! } */

	/* .line_color { Sem alterações nessa tag! } */

	#info_oms
	{
		padding: 6em 0em 4em 0em;
	}

	.titulo
	{
		margin-bottom: 2em;
	}

	.titulo h2
	{
		font-size: 1.8em;
	}

	.subt_oms
	{
		font-size: 1.1em;
	}

	.button
	{
		padding: 0em 1.5em;
		line-height: 3em;
		font-size: 0.9em;
		margin-top: 1em;
	}

	.button:hover
	{
		font-weight: bold;
		background-color: green;
	}
	
	.all_titles
    {
        font-size:1.4em;
    }

	/* .text_source { Sem alterações nessa tag! } */

	.page_end
	{
		padding: 0.8em;
	}

	.text_page_end
	{
		font-size:0.8em;
	}

}

/* Fim - Tags utilizadas em todas as páginas configurada para telas com o tamanho de 1137px até 941px */


/* Inicio de Tags utilizadas em todas as páginas configurada para telas com o tamanho de 940px ou menor */

@media(max-width:940px)
{
	
	#cabecalho
	{
		padding: 1em 0em;
		position: static;
		text-align: center;
	}

	.container
	{
		width: 90%;
	}

	#texto_cabecalho
	{
		position: static;
		margin:0;
	}

	#texto_cabecalho a
	{
		font-size: 0.8em !important;
	}

	#entrada_pages
	{
		position: static;
	}

	#entrada_pages ul
	{
		display: block;
	}

	#entrada_pages ul li
	{
		float: none;
	}

	#entrada_pages ul li a
	{
		padding: 0em 1.5em;
		font-size: 0.7rem;
	}

	.link_pages_main
	{
		margin: 1.3em 0;
	}

	.link_pages_main:hover{
		position: static;
		margin: 0.3em 0.1em; 
		padding: 0.6em 0;
		border-width: 2px;
		border-radius: 5px;
	}

	.current_page_item
	{
		position: static;
		padding: 0.8em 0;
		border-radius: 0;
		margin-right:0;
	}

	.last_page
	{
		margin-right: 0;
	}

	.line_color
	{
		display: none;
	}

	#info_oms
	{
		padding: 6em 0em 4em 0em;
	}

	.titulo
	{
		margin-bottom: 2em;
	}

	.titulo h2
	{
		font-size: 1.4em;
	}

	.subt_oms
	{
		font-size: 0.9em;
	}

	.button
	{
		padding: 0em 1.2em;
		line-height: 3em;
		font-size: 0.8em;
		margin-top: 1em;
	}
	
	.all_titles
    {
        font-size:1.2em;
    }

	/* .text_source { Sem alterações nessa tag! } */

	.page_end
	{
		border-radius: 20px 20px 0 0;
		padding: 0.8em;
	}

	/* .text_page_end { Sem alterações nessa tag! } */

}

/* Fim - Tags utilizadas em todas as páginas configurada para telas com o tamanho de 940px ou menor */